// ================================ //
// ===== _VARIABLES =============== //
// ================================ //

$sans:'Open Sans Normal', sans-serif;
$sansItalic: 'Open Sans Normal Italic', sans-serif;
$sansBold: 'Open Sans Bold', sans-serif;
$sansLight: 'Open Sans 300', sans-serif;
$sansLightItalic: 'Open Sans 300 Italic', sans-serif;
$sansSemibold: 'Open Sans 600', sans-serif;
$sansSemiboldItalic: 'Open Sans 600 Italic', sans-serif;
$sansBlack: 'Open Sans 800', sans-serif;
$sansBlackItalic: 'Open Sans 800 Italic', sans-serif;

	// aliases for $sans //
	$primary-font: 'Open Sans Normal', sans-serif;
	$sansI: 'Open Sans Normal Italic', sans-serif;
	$sansB: 'Open Sans Bold', sans-serif;
	$sans300: 'Open Sans 300', sans-serif;
	$sans300I: 'Open Sans 300 Italic', sans-serif;
	$sans600: 'Open Sans 600', sans-serif;
	$sans600I: 'Open Sans 600 Italic', sans-serif;
	$sans800: 'Open Sans 800', sans-serif;
	$sans800I: 'Open Sans 800 Italic', sans-serif;

$serif: 'Abril_Text_Regular', serif;
$serifItalic: 'Abril_Text_Italic', serif;
$serifBold: 'Abril_Text_Bold', serif;
$serifBoldItalic: 'Abril_Text_BoldItalic', serif;

	// aliases for $serif //
	$serifI: 'Abril_Text_Italic', serif;
	$serifB: 'Abril_Text_Bold', serif;
	$serifBI: 'Abril_Text_BoldItalic', serif;

$display: 'Brandon_reg', sans-serif;
$displayItalic: 'Brandon_reg_it', sans-serif;
$displayBold: 'Brandon_bld', sans-serif;
$displayBoldItalic: 'Brandon_bld_it', sans-serif;

	// aliases for $display // 
	$displayI: 'Brandon_reg_it', sans-serif;
	$displayB: 'Brandon_bld', sans-serif;
	$displayBI: 'Brandon_bld_it', sans-serif;


// $black: #212425;
// $blue: #5ba4e5;
// $deepblue: #2f8cde;
// $green: #9fbb58;
// $yellow: #ffe600;
// $beige: #e9e8dd;

$slate: #282d31;
$color-1: #282d31;
$neutral: #404041;
$color-2: #404041;

// $blueish: #718087;
// $greenish: #a6b4b6;
// $whitish: #eceded;
// $white: #ffffff;

// $red: #e25440;
// $orange: #F2A925;
// $grey: #718087;
// $midgrey: #7d878a;
// $lightgrey: #e2edf2;

// $brown: #aaa9a2;
// $midbrown: #c0bfb6;
// $lightbrown: #edece4;
// $darkgrey: #242628;
// $inputFocus: #226492;
// $pinkButton: #D01040;
// $purple: #333c4e;
$offwhite: #F3F4F8;
$color-3: #F3F4F8;


